<!-- <app-header></app-header>

hello world
<p>{{name}}</p>
<p>{{getName()}}</p>
<p>{{obj.name}}</p>
<p>{{obj.age}}</p>
<p>{{arr[1]}}</p>
<p appRedEl> hello world</p>
<div appRedEl> this is div</div>

can directly use compoenent from module -->
<!-- <app-login></app-login>  -->

<!-- <ul> -->
    <!-- <li *ngFor="let user of users">
       {{user.name}} ----------{{user.age}}
    </li> -->
<!-- </ul> -->
<!-- <p>{{users.title}}</p>
<app-footer></app-footer> -->

<!-- <app-comp1></app-comp1> -->

<!-- <a routerLink="home">home</a>
<br/>
<a routerLink="about">about</a>
<a routerLink="login/10">Login</a>
<router-outlet></router-outlet> -->

<!-- <app-inlinestyle></app-inlinestyle>
<app-inlinetemplate></app-inlinetemplate>
<app-inlinestyletemplate></app-inlinestyletemplate>
<app-propertybinding></app-propertybinding> -->
<!-- <br>
<input type="text" [(ngModel)]="name1"> <br/>
{{name1}} -->

<!-- <app-parent></app-parent>
<app-child [item]="data1" ></app-child> -->
<app-reactiveform></app-reactiveform>

